*{
    margin:0;
    padding:0;
    border:border-box; 
}

body{
   
    width:100%;
    height:auto;
    background-color:rgb(14, 126, 160);
    /* margin-bottom:6rem; */
    /* overflow:hidden; */
}

section, main{
    /* height:100%; */
    /* overflow:hidden; */
}
.cat-face-container{
    height:auto;
    overflow:hidden;
}
.cat-face{
    width: 100%;
    height:100%;
    position:absolute;
    z-index: -1;
    opacity: 0.3;
}
.back-ground-color{
    background-color:rgb(14, 126, 160);
}
main{
    min-height:90vh;
}

a{
    text-decoration:none;
    color:rgb(10, 10, 95);
}

nav{
    display: inline-flex;
    width:100%;
    justify-content:space-between;
    border-bottom: 2px solid white;
    align-items:center;
}

nav > .logo  {
    width:50%;
    
    font-family:"Arvo", serif;
    font-size:1.5rem;
    color:white;
    text-shadow: 1px 1px #135f20;
}

nav > .logo > a{
    text-decoration: none;
    color:white;
    text-shadow: 1px 1px #135f20;
    padding: 0;
    font-family:"Arvo", serif;
    font-size:1.5rem;
}

nav > .logo > a:hover{
    /* color:rgb(10, 10, 95); */
}

nav > .logo > a > h1 {
    padding-left:2rem;
}

nav > ul {
    display: inline-flex;
    list-style:none;
    width:50%;
    justify-content:space-around;
    float:right;
    align-items:center;
}

nav > ul > li{
 
    text-align:center;
    padding:1rem;
    font-family:'Arvo', serif;
    /* border-left: 2px dotted lightgray; */
    font-size:1rem;
}

/* nav > ul > li:hover{
    background-color:rgba(215, 223, 240, 0.329);
} */

nav > ul > li > a{
    text-decoration:none;
    color:white;
    font-size:2rem;
    
}


.navbar {
    overflow: hidden;
    background-color: rgba(14, 126, 160, 0);
    font-family:'Arvo', serif;
  }

.navbar a {
    float: left;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
  }

.dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 1.2rem;  
    border: none;
    outline: none;
    color: white;
    /* padding: 16px 16px; */
    background-color: inherit;
    font-family: inherit;
    margin-top: 1rem;
    width:auto;
    
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(14, 126, 160, 0);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  @media only screen and (max-width: 600px){
    .dropdown-content{
        right:0;
    }
}

  .dropdown-content a {
    float: none;
    color: rgb(10, 10, 95);
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: rgb(193, 224, 252);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


.page-title {
    color:white;
    font-family:'Arvo', serif;
    font-size:2rem;
    text-align:center;
}

.no-search {
    padding-top:2rem;
}

h2 {
    text-align:center;
    margin: 1.5rem 0rem 1rem 0rem;
    color:white;
    font-family:"Arvo"
}

/* index.html */

.banner-container{
    padding-top:6rem;
    display:flex;
    background-image: url("../images/background.png");
    background-size: 300px 200px;
    background-repeat:no-repeat;
    background-position-y: 200px;
    background-position-x: 50%;
   
    height:500px;
    width:100%;
    justify-content:center;
    align-items:baseline;
}

.banner-contents{
    font-family:'Arvo', serif;
    color:white;
    font-size:1.5rem;
    height:auto;
}


/* index/show pages for vets animals owners */

.title-and-search{
    /* text-align:center; */
    display:flex;
    width:98%;
    justify-content:flex-end;
    padding:1rem;
}

@media only screen and (max-width:800px){
    .title-and-search{
        justify-content:center;
    }
}

.item-card-container{
    display:inline-flex;
    flex-wrap: wrap;
    padding:1rem;
    width:98%;
    justify-content:center; 
}

.item-card{
    background-color:rgb(193, 224, 252);
    padding:0.25rem;
    border-radius:5px;
    border:2px solid white;
    width:12rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(10, 10, 95);
    margin: 1rem 1rem 1rem 1rem;
   min-height:4rem;
   
}

.item-card > p{
    padding:0.5rem;
}


.item-card-individual{
    background-color:rgb(193, 224, 252);
    padding:0.5rem;
    border-radius:5px;
    border:2px solid white;
    width:20rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(10, 10, 95);
    margin: 1rem 1rem 1rem 1rem;
    position:relative;
}

.item-card-individual > .vet{
    text-align:center;
}

.item-card-image{
    position:absolute;
    top:5px;
    right:5px;
    width:125px;
    height:125px;
}

.item-card-individual > p{
    padding:0.5rem;
}

.item-card:hover{
    background-color:rgb(219, 219, 243);
}

.bold{
    font-weight:bold;
}

.link-container{
    display:flex;
    justify-content:center;
}

.add-link{
    background-color:rgb(130, 197, 130);
    padding:0.5rem;
    border-radius:25px;
    width:10rem;
    border: 1px solid white;
    font-family: "arvo", serif;
    text-align:center;
}

.add-link:hover{
    background-color:rgb(27, 211, 27);
    font-weight:bold;
}

/* show styles */

.items-container{
    display:flex;
    justify-content:center;
    padding:1rem;
}

.items-container > ul{
    list-style:none;
}

.sub-heading{
    text-align:center;
    color:white;
    font-family:"Arvo", serif;
    margin-bottom:1rem;
}


footer{
    position:relative;
    /* left:0;
    bottom:0; */
    width:100%;
    color:white;
    padding-left:1rem;
    background-color:rgb(14, 126, 160);
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-top: 2px solid white;
    margin-bottom:0;
}

footer > h3{
    float:right;
    padding:1.5rem;
    margin-right:1rem;
}

footer > h3 > a{
    color:white;
    font-family:"Arvo", serif;
}