table{
    background-color:rgb(193, 224, 252);
  
    border-radius:5px;
    border:2px solid white;
    font-family:"Arvo", serif;
    margin:1rem;
    width:66%;
    
    text-align:center;
}

td{
    padding:0.5rem;
    border:0.5px solid white;
    background-color:white;
  
}

th{
    
    padding:0.5rem;
}

@media only screen and (max-width: 600px){
    table{
        font-size:0.75rem;
    }

    .appointments-table{
        font-size:0.5rem;
    }
}

@media only screen and (max-width: 800px){
    .appointments-table{
        font-size:0.5rem;
    }
}