{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">Appointments</h1>

{{calendar}}

<h2>Upcoming:</h2> 

<div class="items-container">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Pet Name</th>
        <th>Owner</th>
        <th>Reason</th>
        <th>Treatment</th>
        <th>Notes</th>
      </tr>
    </thead>
    
    {% for appointment in appointments %}
      {% if appointment.appointment_date > today_date %}

      <tr>
        
      {% if appointment.appointment_date == today_date %}
       <td><a href="/appointments/{{appointment.id}}">Today</td>
      {% else %} 
      <td><a href="/appointments/{{appointment.id}}"> {{appointment.appointment_date}}</td>
      {% endif %}
    </a>
      <td>{{appointment.appointment_time}}</td>
      <td>{{appointment.animal.name}}</td>
      <td>{{appointment.animal.owner.full_name}}</td>
      <td>{{appointment.reason}}</td>
      <td>{{appointment.treatment.description}}</td>
      <td>{{appointment.notes}}</td>
    </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>

<!-- <div class="item-card-container">
{% for appointment in appointments %}
  {% if appointment.appointment_date > today_date %} -->
  <!-- <a href="/appointments/{{appointment.id}}"><div class="item-card">
    <p><span class="bold">Date: </span> {{appointment.appointment_date}}</p>
    <p><span class="bold">Time: </span> {{appointment.appointment_time}}</p>
    <p><span class="bold">Pet: </span> {{appointment.animal.name}}</p>
    <p><span class="bold">Owner: </span> {{appointment.animal.owner.full_name}}</p>
    <p><span class="bold">Vet: </span> {{appointment.vet.full_name}}</p>
  </div></a> -->
  <!-- {% endif %}
{% endfor %}
</div> -->

<!-- <p class="link-container"><a class="add-link" href="appointments/new">Add Appointment</a></p> -->
   
<h2> Past:</h2>
<div class="items-container">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Pet Name</th>
        <th>Owner</th>
        <th>Reason</th>
        <th>Treatment</th>
        <th>Notes</th>
      </tr>
    </thead>
    {% for appointment in appointments %}
      {% if appointment.appointment_date <= today_date %}
      <a href="/appointments/{{appointment.id}}"><tr>
      
      {% if appointment.appointment_date == today_date %}
       <td> Today</td>
      {% else %} 
      <td> {{appointment.appointment_date}}</td>
      {% endif %}
      <td>{{appointment.appointment_time}}</td>
      <td>{{appointment.animal.name}}</td>
      <td>{{appointment.animal.owner.full_name}}</td>
      <td>{{appointment.reason}}</td>
      <td>{{appointment.treatment.description}}</td>
      <td>{{appointment.notes}}</td>
    </tr></a>
      {% endif %}
    {% endfor %}
  </table>
</div>
<!-- <h2> Past:</h2>
<div class="item-card-container">
  {% for appointment in appointments %}
    {% if appointment.appointment_date < today_date %} -->
    <!-- <a href="/appointments/{{appointment.id}}"><div class="item-card">
      <p><span class="bold">Date: </span> {{appointment.appointment_date}}</p>
      <p><span class="bold">Time: </span> {{appointment.appointment_time}}</p>
      <p><span class="bold">Pet: </span> {{appointment.animal.name}}</p>
      <p><span class="bold">Owner: </span> {{appointment.animal.owner.full_name}}</p>
      <p><span class="bold">Vet: </span> {{appointment.vet.full_name}}</p>
    </div></a> -->
    <!-- {% endif %}
  {% endfor %}
  </div> -->

{% endblock %}