{% extends 'base.html' %}

{% block content %}
<div class="back-ground-color">
<h1 class="page-title no-search">Add New Appointment</h1>



<div class="form-container">
    <form class="add-form" action="/appointments" method="post">

        <div class="form-input">
            <label for="animal">Pet Name:</label>
            <select id="animal" name="animal_id">
                
            {% for animal in all_animals %}
                {%if animal.owner.registered == True%}
                    <option value="{{ animal.id }}" {% if animal.name == selected_animal.name %} selected="selected" {% endif %}>{{animal.name}}</option>
                {%endif%}
            {% endfor %}
            </select>
        </div>

        <div class="form-input">
            <label for="vet">Vet Name:</label>
            <select id="vet" name="vet_id">
                
            {% for vet in all_vets %}
                    <option value="{{ vet.id }}" {% if vet.full_name == selected_animal.vet.full_name %} selected="selected" {% endif %} >{{vet.full_name}}</option>
            {% endfor %}
            </select>
        </div>

        <div class="form-input">
            <label for="appointment_date">Date: </label>
            <input type="date" id="appointment_date" name="appointment_date" placeholder="Appointment Date" min="{{today_date}}" required>
        </div>

        <div class="form-input">
            <label for="appointment_time">Time: </label>
            <select id="appointment_time" name="appointment_time" required>
                <option disabled selected value> -- select an option -- </option>    
                <option value="09:00">09:00</option>
                <option value="10:00">10:00</option>
                <option value="11:00">11:00</option>
                <option value="12:00">12:00</option>
                <option value="14:00">14:00</option>
                <option value="15:00">15:00</option>
                <option value="16:00">16:00</option>
            </select>
        </div>

        <!-- {% for vets_appointment in all_vets_appointments %}
       
        {{vets_appointment.appointment_time}}
    {% endfor %} -->

        <!-- <div class="form-input">
            <label for="owner">Owner:</label>
            <select id="owner" name="owner_id">
            
            {% for animal in all_animals %}
            
                    <option value="{{ animal.owner.id }}" {% if animal.owner.id == animal.owner.id %} selected="selected"{% endif %}>{{animal.owner.full_name}}</option>
            {% endfor %}
            </select>
        </div> -->

        <div class="form-input">
            <label for="reason">Reason for Visit: </label>
            <input type="text" id="reason" name="reason" placeholder="Reason for Visit">
        </div>
       
        <div class="form-input">
            <label for="treatment">Treatments: </label>
            <select id="treatment" name="treatment_id" required>
                <option disabled selected value> -- select an option -- </option>
                    
                {% for treatment in all_treatments %}
                    <option value="{{ treatment.id }}">{{treatment.description }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-input">
            <label for="notes"> Notes: </label>
            <textarea  id="notes" name="notes" placeholder="Notes"></textarea>
        </div>

        <button class="add-button" type="submit">Save Appointment</button>

    </form>
</div>

<h2>Upcoming:</h2> 
<div class="items-container">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Pet Name</th>
          <th>Vet Name</th>
          <th>Owner</th>
          <th>Reason</th>
          <th>Treatment</th>
          <th>Notes</th>
        </tr>
      </thead>
      
      {% for appointment in all_appointments %}
        {% if appointment.appointment_date >= today_date %}
  
        <tr>
          
        {% if appointment.appointment_date == today_date %}
         <td><a href="/appointments/{{appointment.id}}">Today</td>
        {% else %} 
        <td><a href="/appointments/{{appointment.id}}"> {{appointment.appointment_date}}</td>
        {% endif %}
      </a>
        <td>{{appointment.appointment_time}}</td>
        <td>{{appointment.animal.name}}</td>
        <td>{{appointment.vet.full_name}}</td>
        <td>{{appointment.animal.owner.full_name}}</td>
        <td>{{appointment.reason}}</td>
        <td>{{appointment.treatment.description}}</td>
        <td>{{appointment.notes}}</td>
      </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
