{% extends 'base.html' %}

{% block content %}


<div class="title-and-search">
<div class="form-container">
  <form class="form-inline my-2 my-lg-0" method="GET">
    <input class="form-control mr-sm-2"
      type="search" placeholder="Search" name="searched">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
</div>
<h1 class="page-title">Treatments</h1>

<!-- <div class="item-card-container">
{% for treatment in treatments %}

<a href="/treatments/{{treatment.id}}"><div class="item-card">
    <p><span class="bold">Treatment: </span> {{treatment.description}}</p>
    <p><span class="bold">Price: </span> {{treatment.price}}</p>
        </div></a>

    {% endfor %} -->
  </div>
  
  <div class="items-container">
    <table>
      <thead>
        <tr>
          <th>Description</th>
          <th>Price</th>
        </tr>
      </thead>
  
  {% for treatment in treatments %}
  
      <tr>
        <td>{{treatment.description}}</td>
        <td>{{treatment.price}}</td>
        <td><form action="/treatments/{{treatment.id}}/edit" method="GET">
          <button>Edit</button>
        </form></td>
        <td>
          <form action="/treatments/{{treatment.id}}/delete" method="POST">
            <button class="delete">Delete</button>
          </form></td>
      </tr>
    
      {% endfor %}
    </table>
  </div>
  

   



<p class="link-container"><a class="add-link" href="treatments/new">Add Treatment</a></p>

{% endblock %}