{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">Edit Vet</h1>

<div class="form-container">
    <form class="add-form" action="/vets/{{vet.id}}" method="post">
        <div class="form-input"> 
            <label for="first_name">First Name: </label>
            <input type="text" id="first_name" name="first_name" value="{{vet.first_name}}"  required autofocus>
        </div>

        <div class="form-input">
            <label for="last_name">Second Name: </label>
            <input type="text" id="last_name" name="last_name" value="{{vet.last_name}}" required>
        </div>

        <button class="add-button" type="submit">Update</button>

    </form>
</div>
{% endblock %}