{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">Vets</h1>

<div class="item-card-container">
{% for vet in vets %}


  <a href="/vets/{{vet.id}}"><div class="item-card">
    <p><span class="bold">Name: </span> {{vet.first_name}} {{vet.last_name}}</p>
  
  </div></a>


    <!-- <form action="/vets/{{vet.id}}/delete" method="POST">
      <button>Delete</button>
    </form>
  </div> -->

{% endfor %}
</div>
<p class="link-container"><a class="add-link" href="vets/new">Add Vet</a></p>

{% endblock %}