{% extends 'base.html' %}

{% block content %}


<div class="title-and-search">
<div class="form-container">
  <form class="form-inline my-2 my-lg-0" method="GET">
    <input class="form-control mr-sm-2"
      type="search" placeholder="Search" name="searched">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
</div>
<h1 class="page-title">Vets</h1>
<div class="item-card-container">
{% for vet in vets %}


  <a href="/vets/{{vet.id}}"><div class="item-card">
    <p><span class="bold">Name: </span> {{vet.full_name}}</p>
  
  </div></a>

{% endfor %}
</div>
<p class="link-container"><a class="add-link" href="vets/new">Add Vet</a></p>

{% endblock %}