{% extends 'base.html' %}

{% block content %}


<h1 class="page-title">Add New Vet</h1>

<div class="form-container">
    <form class="add-form"  action="/vets" method="post">

        <div class="form-input">
            <label for="first_name">First Name: </label>
            <input type="text" id="first_name" name="first_name" placeholder="First Name" required autofocus>
        </div>

        <div class="form-input">
            <label for="last_name">Second Name: </label>
            <input type="text" id="last_name" name="last_name" placeholder="Last Name" required>
        </div>

        <button class="add-button" type="submit">Add Vet</button>

    </form>
</div>
{% endblock %}