{% extends 'base.html' %}

{% block content %}

<h1 class="page-title no-search">Results:</h1>


<div class="items-container">
  <table>
    <thead>
      <tr>
        <th>Full Name</th>
      </tr>
    </thead>

{% for vet in vets %}

    <tr>
      <td>{{vet.full_name}}</td>
      <td><a href="vets/{{vet.id}}">Go To Page</td>

        <td>
          <form action="/vets/{{vet.id}}/edit" method="GET">
            <button>Edit</button>
          </form>
        </td>
        
        <td><form action="/vets/{{vet.id}}/delete" method="POST">
            <button class="delete">Delete</button>
          </form></td>
          <td><a href="vets/{{vet.id}}">Vet Home Page</td>
    </tr>
  
    {% endfor %}
  </table>
</div>


{% endblock %}