{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">Vet</h1>
 
<div class="item-card-container">
  <div class="item-card-individual">
  <p><span class="bold">Name: </span>{{vet.full_name}}</p>

  <div class="button-container">
    <div>
        <form action="/vets/{{vet.id}}/edit" method="GET">
          <button>Edit</button>
        </form>
      </div>


    <div>
        <form action="/vets/{{vet.id}}/delete" method="POST">
          <button class="delete">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<h2 class="sub-heading">Animals: {{animals_length}}</h2>
  <div class="items-container">
    
      <table>
      {% for animal in animals %}
      
      
      <tr>
       
        <td> <a href="/animals/{{animal.id}}">{{animal.name}}</a></td>
        <td>{{animal.date_of_birth}}</td>
        <td>{{animal.type}}</td>
      </tr>

      
      {% endfor %}
    </table>
</div>

   
<h2 class="sub-heading">Upcoming Appointments:</h2>
<div class="items-container">
    
  <table>
    {% for appointment in appointments %}
    <tr>
      <td> <a href="/appointments/{{appointment.id}}">{{appointment.appointment_date}}</a></td>
      <td>{{appointment.animal.name}}</td>
      <td>{{appointment.appointment_time}}</td>
      <td>{{appointment.reason}}</td>
      <td>{{appointment.treatment.description}}</td>
    </tr>
    {% endfor %}
  </table>

</div>





{% endblock %}