{% extends 'base.html' %}

{% block content %}

<h1>Vet Management App</h1>

{% for animal in animals %}
<p>Name: <a href="/animals/{{animal.id}}">{{animal.name}}</a></p>
<p>D/o/B: {{animal.date_of_birth}}</p>
<p>Type: {{animal.type}}</p>
<p>Owner: {{animal.owner.full_name}}</p>
<p>Vet: {{animal.vet.first_name}} {{animal.vet.last_name}}</p>
<p>Treatment Notes:{{animal.treatment_notes}}</p>

<div>
<!-- <form action="/animals/{{animal.id}}/delete" method="POST">
    <button>Delete</button>
  </form>
</div> -->
{% endfor %}

<p><a href="animals/new">Add Animal</a></p>
   

{% endblock %}