{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">Results:</h1>


<div class="items-container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Type</th>
        <th>Vet</th>
        
      </tr>
    </thead>

{% for animal in animals %}

    <tr>
      <td>{{animal.name}}</td>
      <td>{{animal.owner.full_name}}</td>
      <td>{{animal.type}}</td>
      <td>{{animal.vet.full_name}}</td>
      <td><a href="animals/{{animal.id}}">Go To Page</td>
    </tr>
  
    {% endfor %}
  </table>
</div>


{% endblock %}