{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">Animal</h1>
<div class="item-card-container">
  <div class="item-card-individual">
    <p><span class="bold">Name:</span> {{animal.name}}</a></p>
    <p><span class="bold">D/o/B:</span> {{animal.date_of_birth}}</p>
    <p><span class="bold">Type: </span>{{animal.type}}</p>
    <p><span class="bold">Owner:</span> {{animal.owner.full_name}} </p> 
    <p><span class="bold">Phone: </span>{{animal.owner.phone_number}}</p> 
    <p><span class="bold">Email:</span> {{animal.owner.email_address}}</p>
    <p><span class="bold">Vet:</span> {{animal.vet.full_name}}</p>
    <p><span class="bold">Treatment Notes:</span>{{animal.treatment_notes}}</p>

  <div class="button-container">

    
    <div>
      <form action="/animals/{{animal.id}}/edit" method="GET">
        <button>Edit</button>
      </form>
    </div>

    <div>
    <form action="/animals/{{animal.id}}/delete" method="POST">
        <button class="delete">Delete</button>
      </form>
    </div>
  </div>
  <p class="link-container"><a class="add-link" href="../appointments/new">Add Appointment</a></p>
  </div>
</div>

<h2 class="sub-heading">Upcoming Appointments:</h2>
<div class="items-container">
    
  <table>
    {% for appointment in appointments %}
    <tr>
      <td> <a href="/appointments/{{appointment.id}}">{{appointment.appointment_date}}</a></td>
      <td>{{appointment.vet.full_name}}</td>
      <td>{{appointment.appointment_time}}</td>
      <td>{{appointment.reason}}</td>
      <td>{{appointment.treatment.description}}</td>
    </tr>
    {% endfor %}
  </table>

</div>

<h2 class="sub-heading">Appointment History:</h2>

{% endblock %}