{% extends 'base.html' %}

{% block content %}

<h1>Vet Management App</h1>

<p>Name: {{animal.name}}</a></p>
<p>D/o/B: {{animal.date_of_birth}}</p>
<p>Type: {{animal.type}}</p>
<p>Owner: {{animal.owner.name}}</p>
<p>Vet: {{animal.vet.first_name}} {{animal.vet.last_name}}</p>
<p>Treatment Notes:{{animal.treatment_notes}}</p>

<div>
  <form action="/animals/{{animal.id}}/edit" method="GET">
    <button>Edit</button>
  </form>
</div>

<div>
<form action="/animals/{{animal.id}}/delete" method="POST">
    <button>Delete</button>
  </form>
</div>

   

{% endblock %}