{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">Owners</h1>

<div class="form-container">
  <form class="form-inline my-2 my-lg-0" method="GET">
    <input class="form-control mr-sm-2"
      type="search" placeholder="Search" name="searched">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>

<div class="item-card-container">
{% for owner in owners %}

  <a href="/owners/{{owner.id}}"><div class="item-card">
    <p><span class="bold">Name:</span> {{owner.full_name}}</p>
  </div></a>


<!-- <div>
    <form action="/owners/{{owner.id}}/delete" method="POST">
      <button>Delete</button>
    </form>
  </div> -->

{% endfor %}
</div>
<p class="link-container"><a class="add-link" href="owners/new">Add Owner</a></p>

{% endblock %}