{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">Results:</h1>


<div class="items-container">
  <table>
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th> 
      </tr>
    </thead>

{% for owner in owners %}

    <tr>
      <td>{{owner.full_name}}</td>
      <td>{{owner.phone_number}}</td>
      <td>{{owner.email_address}}</td>
      <td><a href="owners/{{owner.id}}">More Info</td>
    </tr>
  
    {% endfor %}
  </table>
</div>



{% endblock %}