{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">Owner</h1>

<div class="item-card-container">
  <div class="item-card-individual">
    <p><span class="bold"> Name: </span>
    {{owner.full_name}}</p>
    <p><span class="bold"> Phone Number:</span>
     {{owner.phone_number}}</p>
    <p><span class="bold"> Email:</span>
     {{owner.email_address}}</p>
    <p><span class="bold"> Address:</span> {{owner.address}}</p>

    <div class="link-container">
  <div class="button-container">
    <div>
        <form action="/owners/{{owner.id}}/edit" method="GET">
          <button>Edit</button>
        </form>
      </div>

    <div>
        <form action="/owners/{{owner.id}}/delete" method="POST">
          <button class="delete">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<h2 class="sub-heading">Pets: </h2>
<div class="items-container">
  

  <table>
    {% for animal in animals %}
    
    
    <tr>
     
      <td> <a href="/animals/{{animal.id}}">{{animal.name}}</a></td>
      <td>{{animal.date_of_birth}}</td>
      <td>{{animal.type}}</td>
    </tr>

    
    {% endfor %}
  </table>

</div>
{% endblock %}