{% extends 'base.html' %}

{% block content %}

<h1>Vet Management App</h1>

<p>Name: {{owner.full_name}}</a></p>
<p>Phone Number: {{owner.phone_number}}</p>
<p>Email: {{owner.email_address}}</p>
<p>Address: {{owner.address}}</p>

<div>
    <form action="/owners/{{owner.id}}/edit" method="GET">
      <button>Edit</button>
    </form>
  </div>

<div>
    <form action="/owners/{{owner.id}}/delete" method="POST">
      <button>Delete</button>
    </form>
  </div>

  {% for animal in animals %}
    <a href="/animals/{{animal['id']}}">{{animal.name}} {{animal.id}}</a>
    {{animal.date_of_birth}}
    {{animal.type}}
  {% endfor %}


{% endblock %}